# Node.js/React
node_modules/
build/
dist/
.DS_Store
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.cache/
*.tgz
output/
# local env files
.env.development.local
.env.test.local
.env.production.local
temp_auto_push.bat
temp_interactive_push.bat
config.bat
